<form class="form-horizontal col-md-12" #createForm="ngForm" id="createForm">
  <div class="panel-heading">
    <h3 class="panel-title">Create team</h3>
  </div>
  <div class="panel-body">
    <div class="form-group" *ngIf="errorText">
      <div class="text-danger">{{errorText}}</div>
    </div>
    <div class="form-group">
      <label for="teamName" class="col-sm-3 control-label">{{teamNameLabel}}:</label>
      <div class="col-sm-9 full-column">
        <input type="text" class="form-control" placeholder="Team name" [(ngModel)]="request.teamName"
               name="teamName" id="teamName" #teamName="ngModel" required />
        <div [hidden]="teamName.valid || teamName.untouched" class="text-danger">
          Team name is mandatory
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="scrumMaster" class="col-sm-3 control-label">{{scrumMasterLabel}}:</label>
      <div class="col-sm-9 full-column">
        <input type="text" class="form-control" placeholder="Your name" [(ngModel)]="request.scrumMaster"
               name="scrumMaster" id="scrumMaster" #scrumMaster="ngModel" required />
        <div [hidden]="scrumMaster.valid || scrumMaster.untouched" class="text-danger">
          Scrum Master is mandatory
        </div>
      </div>
    </div>
    <div class="form-group button-row">      
      <button class="btn btn-default fr" [disabled]="!createForm.form.valid" (click)="create()">{{sendButtonCaption}}</button>
    </div>
  </div>

</form>
