<form class="form-horizontal col-md-12" #joinForm="ngForm" id="joinForm">
  <div class="panel-heading">
    <h3 class="panel-title">Join team</h3>
  </div>
  <div class="panel-body">
    <div class="form-group" *ngIf="errorText">
      <div class="text-danger">{{errorText}}</div>
    </div>
    <div class="form-group">
      <label for="teamName" class="col-sm-3 control-label">{{teamNameLabel}}:</label>
      <div class="col-sm-9 full-column">
        <input type="text" class="form-control" placeholder="Team name" [(ngModel)]="teamNameText"
               name="teamName" id="teamName" #teamName="ngModel" required />
        <div [hidden]="teamName.valid || teamName.untouched" class="text-danger">
          Team name is mandatory
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="screenName" class="col-sm-3 control-label">{{screenNameLabel}}:</label>
      <div class="col-sm-9 full-column">
        <input type="text" class="form-control" placeholder="Your name" [(ngModel)]="screenNameText"
               name="screenName" id="screenName" #screenName="ngModel" required />
        <div [hidden]="screenName.valid || screenName.untouched" class="text-danger">
          Screen name is mandatory
        </div>
      </div>
    </div>
    <div class="form-group button-row">      
      <button class="btn btn-default fr" [disabled]="!joinForm.form.valid" (click)="join()">{{sendButtonCaption}}</button>
    </div>
  </div>

</form>
