<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="membersPanel">
        <div class="panel panel-default">
          <div class="panel-heading">
            Scrum Master
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              {{scrumMasterScreenName}}
            </li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Development Team
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let screenName of participantScreenNames">
              {{screenName}}
            </li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Observers</div>
          <ul class="list-group"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div>
        <div>
          <h3>
            {{teamName}}
          </h3>
        </div>
        <div>
          <h4>
            Select an estimation
          </h4>
        </div>
        <div class="availableEstimations">
          <ul class="availableEstimations">
            <li *ngFor="let card of availableCards">
              <a (click)="doNothing">
                {{card.label}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

