<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="membersPanel">
        <div class="panel panel-default">
          <div class="panel-heading">
            Scrum Master
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              {{scrumMasterScreenName}}
            </li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Development Team
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let screenName of developerScreenNames">
              {{screenName}}
            </li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Observers</div>
          <ul class="list-group"></ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div>
        <div>
          <h3>
            {{teamName}}
          </h3>
        </div>
        <div *ngIf="isShowEstimations">
          <div>
            <h4>
              Estimations
            </h4>
            <ul class="estimationResult">
              <li *ngFor="let estimation of estimations">              
                <span class="estimationItemValue" >{{estimation.lastEstimation}}</span>
                <span class="estimationItemName">{{estimation.screenName}}</span>              
              </li>
            </ul>
          </div>
          </div>
          <div *ngIf="isShowCards">
            <div>
              <h4>
                Select an estimation
              </h4>
            </div>
            <div class="availableEstimations">
              <ul class="availableEstimations">
                <li *ngFor="let card of availableCards">
                  <a (click)="estimate(card.label)">
                    {{card.label}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

